@model WebShop2018.Models.Picture

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj Sliku za Proizvod</h2>

@using (Html.BeginForm((string)ViewBag.Title, "Pictures", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Picture</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.LabelFor(model => model.NazivSlike, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NazivSlike, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NazivSlike, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
            </div>
        </div>

        @*@Html.LabelFor(m => m.Proizvod)
        @Html.DropDownListFor(m => m.Proizvod.Id,
                                    new SelectList(ViewBag.Proizvodi, "Id", "Naziv")
                                  )
        @Html.ValidationMessageFor(m => m.Proizvod)*@

        <div class="form-group">
                @Html.LabelFor(model => model.Proizvod, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Proizvod.Id,
                                new SelectList(ViewBag.Proizvodi, "Id", "Naziv"),
                                new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Proizvod, "", new { @class = "text-danger" })
                </div>
            </div>

        <div>
            <label>Slika</label>
            <input name="slikica" type="file" accept=".jpg,.gif,.jpeg,.png" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
