<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/theme")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/lightbox/dist/css/lightbox.min.css">

</head>
<body>
    @Html.Partial("_Navigacija")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.Label("Footer labela")
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Content/lightbox/dist/js/lightbox-plus-jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
