@model IEnumerable<WebShop2018.Models.Proizvod>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Categories", "Categories")
    @Html.ActionLink("Create New", "Create")
</p>

<table id="tabelaProizvoda" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stanje)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategorija.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stanje)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tabelaProizvoda').DataTable();
        });
    </script>
}

