@using WebShop2018.Models
@model WebShop2018.Models.Proizvod

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Back", "Index")

@*moramo da stavimo encoding za formu da bi poslali slliku (enctype = "multipart/form-data")*@
@using (Html.BeginForm((string)ViewBag.Title, "Artikli", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(m => m.Naziv)
    @Html.EditorFor(m => m.Naziv)
    @Html.ValidationMessageFor(m => m.Naziv)

    <br />
    @Html.LabelFor(m => m.Cena)
    @Html.EditorFor(m => m.Cena)
    @Html.ValidationMessageFor(m => m.Cena)

    <br />
    @Html.LabelFor(m => m.Stanje)
    @Html.EnumDropDownListFor(m => m.Stanje)
    @Html.ValidationMessageFor(m => m.Stanje)

    <br />
    @Html.LabelFor(m => m.Kategorija)
    @Html.DropDownListFor(m => m.Kategorija.Id,
                            new SelectList(ViewBag.Kategorije, "Id", "Naziv")
                          )
    @Html.ValidationMessageFor(m => m.Kategorija)

    <br />

    <div class="form-group">
        <label class="control-label">Dodaj sliku</label>
        <div>
            <input type="file" name="listaSlika" accept=".jpg,.gif,.jpeg,.png" multiple />
        </div>
    </div>
    <br />

    <div class="col-md-12" style="margin-bottom:50px;">
        <input type="submit" value="Save" />
    </div>
}

<table class="table tabelaSlike">
    <tr>
        <th></th>
        <th>
            Naziv slike
        </th>
        <th>
            Opis slike
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Slike)
    {
        <tr>
            <td>
                <img src="@string.Format("/Content/Artikli/{0}", item.NazivSlikeZaPrikaz)" style="width:100px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivSlike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisSlike)
            </td>
            <td>
                @Html.ActionLink("Dodaj opis", "Edit", "Slike", new { id = item.Id, proizvodId = Model.Id }, null) |
                @Html.ActionLink("Obrisi", "Delete", "Slike", new { id = item.Id, proizvodId = Model.Id }, null)
            </td>
        </tr>
    }

</table>


<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}